.container {
	margin: 50px auto 30px auto;
	font-family: arial,sans-serif;
	display: table;
}

.inner-container {
	margin: auto;
	text-align: center;
}

#img-head {
	width: 50%;
}

#search-bar {
	width: 50%;
	height: 20px;
	border: 1px solid #d9d9d9;
	padding: 3px 5px;
}

#search-button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 30px;
	margin: 15px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.container-element {
}

#results {
	margin: 2% 5% 0% 5%;
}

.result-title {
	/* Blue */
	color: #1a0dab;
	text-decoration: none;
	font-size: 18px;
}

.result-title:hover {
	text-decoration: underline;
}

.result-url {
	/* Green */
	color: #006621;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

.result-desc {
	/* Ligth Black */
	color: #545454;;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 1em;
}

.result-pages {
	text-align: center;
}

.result-page {
	color: #1a0dab;
	text-decoration: none;
	margin-right: 3px;
}

.result-page:hover {
	text-decoration: underline;
}

.inactive-link {
	color: black;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}
